[defaults]
host_key_checking = False
retry_files_enabled = False
stdout_callback = default
interpreter_python = auto_silent

[persistent_connection]
connect_timeout = 30
command_timeout = 60

[paramiko_connection]
host_key_checking = False
host_key_auto_add = True
