[defaults]
host_key_checking = True
retry_files_enabled = False
stdout_callback = default
callbacks_enabled = audit_callback
callback_plugins = /workspace/callback_plugins
interpreter_python = auto_silent
display_args_to_stdout = False

[persistent_connection]
connect_timeout = 30
command_timeout = 30
